extends layout-logged-in

block content
  #page-wrapper
    .container-fluid
      .row
        .col-md-8.col-md-offset-1
          h2.display-4.m-b-2 Add Product
          // register form
          form(method='POST' action='/products')
            div.form-group
              label(for='productName') Product name:
              input#productName.form-control(type='text' name='productName')
            div.form-group
              label(for='productId') Product id:
              input#productId.form-control(type='text' name='productId')
            button.btn.btn-primary(type='submit') Submit
