extends layout-logged-in

block content
  #page-wrapper
    .container-fluid
      .row
        .col-md-8.col-md-offset-1
          h2.display-4.m-b-2 Add Product
          // register form
          form(method='POST' action='/products')
            div.form-group
              label(for='productName') Product name:
              input#productName.form-control(type='text' name='productName')
            div.form-group
              label(for='productType') Product type:
              input#productType.form-control(type='text' name='productType')
            div.form-group
              label(for='productQty') Quantity:
              input#productQty.form-control(type='text' name='productQty')
            div.form-group
              label(for='latitude') Latitude:
              input#latitude.form-control(type='text' name='latitude')
            div.form-group
              label(for='latitude') Longitude:
              input#longitude.form-control(type='text' name='longitude')
            button.btn.btn-primary(type='submit') Submit
