extends layout-logged-in

block content
  .container-fluid
    .row
    h3 Product Details
    table.table.table-hover.table-bordered
      thead
        tr
          th ProductId
          th Name
      tbody
        each product in list
          tr
            td #{product.productId}
            td #{product.productName}
