
extends layout

block content
  .main.container
    .jumbotron
      h3 Product Details
      p ProductId : #{product.id} </br> Name: #{product.name} </br> Owner name: #{product.owner} </br> Verified: #{product.isVerified}
