extends layout-logged-in

block content
  #page-wrapper
    .container-fluid
      .row
      h3 Product Details
      table.table.table-hover.table-bordered
        thead
          tr
            th ProductId
            th Name
            th Owner
            th Verified
        tbody
          each product in list
            tr
              td #{product.id}
              td #{product.name}
              td #{product.ownerName}
              td #{product.IsVerified}
