extends layout

block content
  table.table.table-hover.table-bordered
    thead
      tr
        th Id
        th Name
        th Owner
        th Status
    tbody
      each prod in list
        tr
          a(href='/' + prod.id)
          td #{prod.id}
          td #{prod.name}
          td #{prod.owner}
          td #{prod.status}
