extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h2.display-4.m-b-2 Enter details

        // register form
        form(method='POST' action='/users')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword')
          div.form-group
            label(for="role") Role:
            div.role(style="padding-bottom:2rem;")
              select(name = "role")
                option(value=3) Regulator
                option(value=0) Producer
                option(value=1) Supplier
                option(value=2) Consumer

          button.btn.btn-primary(type='submit') Sign up
