extends layout-logged-in

block content
  #page-wrapper
    .container-fluid
      .row
        .col-md-8.col-md-offset-1
          h2.display-4.m-b-2 Enter product id and new owner details
          // register form
          form(method='POST' action='/transferOwnership')
            div.form-group
              label(for='productId') Product id:
              input#productId.form-control(type='text' name='productId')
            div.form-group
              label(for='newOwner') New Owner:
              input#newOwner.form-control(type='text' name='newOwner')
            button.btn.btn-primary(type='submit') Transfer ownership
