body {
  background-color: red;
  background-image: url(https://static1.squarespace.com/static/58a0ed2915d5dbc3ddb53826/t/5be3e5d9562fa7cc77b88664/1541658716358/Header3_Landing+page_Collaborative+Logistics.png?format=2500w) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
